@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font-family: 'Bebas Neue', cursive; */

.page-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 44px;
}

.container {
    
}

nav .brand-logo {
    left: 5px;
}

.card-content img {
    margin-top: 2vh;
}
