@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font-family: 'Bebas Neue', cursive; */

.page-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 44px;
}

nav .brand-logo {
    left: 5px;
}

.card-content img {
    margin-top: 2vh;
}

.reply-indent{
    width: 90%;
    float: right;
}

.responsive-text {
    font-weight: 400;
}

@media (max-width: 992px) {
    nav .brand-logo {
        margin-left: 8vw;
    }
}

@media (max-width: 387px) {
    .responsive-text {
        font-size: 80%;
    }
}
