{% extends "base.html" %}
{% block content %}

    <p class="center-align teal-text responsive-text">For the discussion of anything. Leave a post, post a reply</p>

    <h3 class="center-align teal-text text-darken-2 page-header">All Posts</h3>

    {% if session.user %}
        <!-- new post button -->
        <div class="row center-align">
            <a href="{{ url_for('new_post') }}" class="btn-large teal darken-2 waves-effect waves-light">New Post</a>
        </div>
    {% endif %}

    {% for post in posts %}
        <!-- all posts -->
        <div class="row">
            <div class="col s12">
                <div class="card teal darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{ post.post_title }}</span>
                        <p>{{ post.post_description }}</p>
                        <img src="{{ post.post_image }}" alt="user posted image" height="200">
                    </div>
                    <div class="card-action">
                        {% if post.edited_at == "n" %}
                            <p class="white-text">Posted by: {{ post.created_by }} at {{ post.created_at.strftime("%c") }}</p>
                        {% else %}
                            <p class="white-text">Posted by: {{ post.created_by }} at {{ post.created_at.strftime("%c") }} edited at {{ post.edited_at.strftime("%c") }}</p>
                        {% endif %}
                        <a href="{{ url_for('post_details', post_id=post._id) }}">View Replies</a>
                        {% if session.user %}
                            <a href="{{ url_for('post_reply', post_id=post._id) }}">Reply</a>
                        {% endif %}
                        {% if post.created_by == session.user %}
                            <a href="{{ url_for('delete_post', post_id=post._id) }}">Delete</a>
                            <a href="{{ url_for('edit_post', post_id=post._id) }}">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}