{% extends "base.html" %}
{% block content %}

    <h3 class="center-align teal-text text-darken-2 page-header">All Posts</h3>

    {% if session.user %}
        <div class="row center-align">
            <a href="{{ url_for('new_post') }}" class="btn-large teal darken-2">New Post</a>
        </div>
    {% endif %}

    {% for post in posts %}

        <div class="row">
            <div class="col s12">
                <div class="card teal darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{ post.post_title }}</span>
                        <p>{{ post.post_description }}</p>
                    </div>
                    <div class="card-action">
                        <p class="white-text">Posted by: {{ post.created_by }} at {{ post.creation_time }} on {{ post.creation_date }}</p>
                        <a href="{{ url_for('view_replies', post_id=post._id) }}">View Replies</a>
                        {% if session.user %}
                            <a href="{{ url_for('reply', post_id=post._id) }}">Reply</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}