{% extends "base.html" %}
{% block content %}

    <h3 class="page-header teal-text text-darken-2 center-align">View Replies</h3>

    <!-- main post -->
    <div class="row">
        <div class="col s12">
            <div class="card teal darken-2 white-text">
                <div class="card-content">
                    <span class="card-title">{{ post.post_title }}</span>
                    <p>{{ post.post_description }}</p>
                    <img src="{{ post.post_image }}" height="200">
                </div>
                <div class="card-action">
                    {% if post.edited_at == "n" %}
                        <p class="white-text">Posted by: {{ post.created_by }} at {{ post.created_at.strftime("%c") }}</p>
                    {% else %}
                        <p class="white-text">Posted by: {{ post.created_by }} at {{ post.created_at.strftime("%c") }} edited at {{ post.edited_at.strftime("%c") }}</p>
                    {% endif %}
                    {% if session.user %}
                        <a href="{{ url_for('post_reply', post_id=post._id) }}">Reply</a>
                    {% endif %}
                    {% if post.created_by == session.user %}
                        <a href="{{ url_for('delete_post', post_id=post._id) }}">Delete</a>
                        <a href="{{ url_for('edit_post', post_id=post._id) }}">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% for reply in replies %}
        <!-- all replies to post -->
        <div class="row">
            <div class="col s12">
                <div class="card teal darken-2 white-text">
                    <div class="card-content">
                        <p>{{ reply.reply_description }}</p>
                        <img src="{{ reply.reply_image }}" height="200">
                    </div>
                    <div class="card-action">
                        {% if reply.edited_at == "n" %}
                            <p class="white-text">Posted by {{ reply.created_by }} at {{ reply.created_at.strftime("%c") }}</p>
                        {% else %}
                            <p class="white-text">Posted by {{ reply.created_by }} at {{ reply.created_at.strftime("%c") }} edited at {{ reply.edited_at.strftime("%c") }}</p>
                        {% endif %}
                        {% if reply.created_by == session.user %}
                            <a href="{{ url_for('delete_reply', reply_id=reply._id) }}">Delete</a>
                            <a href="{{ url_for('edit_reply', reply_id=reply._id) }}">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}